*{
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif
}


.font-w300{
    font-weight: 300;
}
.font-w400{
    font-weight: 400;
}
.font-w500{
    font-weight: 500;
}
.font-w700{
    font-weight: 700;
}

.font-z7{
    font-size: 7rem;
}
.font-z2{
    font-size: 2rem;
}
.font-z05{
    font-size: 1.1rem;
}

.boton{
    background-color: transparent;
    color: white;
    padding: .5rem 1rem;
    border: 1px solid #fff; 
    font-size: 1.5rem;
    width: 35%;
    transition: 0.4s;

}

.boton:hover{
    transform: translateY(-5px);
    background-color: white;
    color: #2c63fb;
}

.back-color{
    background-color:  #2c63fb;
}
.centro{
display: flex;
justify-content: center;
align-items: center;
height: auto;
width: auto;
}

.iconos{
    font-size: 12rem;
}

.sombra {
    padding: 1rem;
    margin-bottom: 3rem;
    background-color: primary;
    border-radius: 15px;
    -webkit-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
}